@{
    ViewBag.Title = "Home Page";
}

<body background="http://www.portoalegre.travel/upload/b/102/1027282_hotel-wallpaper-hd.jpg">
    <style>
        body {
            text-align: center;
            background-repeat: no-repeat;
            background-size: cover
        }
    </style>
    <div class="hero">

        <h1>
            <font color="000000">
                Dan's Happy Hotel
            </font>
        </h1>
        <p class="lead"><font color="000000"> We wish every moment you spent with us be the finest .</font></p>

    </div>
    </body>

